@model FirstEpiserverSite.Models.Blocks.JumbotronBlock

<div class="jumbotron">
    <div class="container">
        <img class="pull-left img-responsive" src="@Model.brandLogo" width="100px" height="100px" />
        <h1>@Html.PropertyFor(x => x.brandName)</h1>
        <p>@Html.PropertyFor(x => x.brandDescription)</p>
        <img class="pull-left img-responsive" src="@Model.brandImage" width="100px" height="100px" />
    </div>
</div>
