@using EPiServer.Editor
@model FirstEpiserverSite.Models.Pages.StartPage

@{
    Layout = "~/Views/Shared/_root.cshtml";
}

<div class="row">
    <div class="jumbotron">
        <div class="container">
            @if (Model.MainContentArea != null || PageEditing.PageIsInEditMode)
            {
                <!-- block content goes here -->
                @Html.PropertyFor(x => x.MainContentArea)
            }
        </div>
    </div>
</div>

