@model  FirstEpiserverSite.Models.Pages.StartPage

@{
    Layout = null;
}

<div class="row">
    <div class="jumbotron">
        <h1>Hello World this is Mike's First EpiServer Site!!!</h1>
    </div>
</div>
